<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>trip.servlets.indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>faqServlet</servlet-name>
        <servlet-class>trip.servlets.faqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>trip.servlets.registrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPwdServlet</servlet-name>
        <servlet-class>trip.servlets.forgotPwdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPersonsServlet</servlet-name>
        <servlet-class>trip.servlets.ListPersonsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/indexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>faqServlet</servlet-name>
        <url-pattern>/faqServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/registrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPwdServlet</servlet-name>
        <url-pattern>/forgotPwdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPersonsServlet</servlet-name>
        <url-pattern>/ListPersonsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
